<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"><title>登录</title><script src="https://cdn.tailwindcss.com"></script></head>
<body class="bg-slate-100 flex items-center justify-center h-screen font-sans">
    <form action="/auth" method="post" class="bg-white p-10 rounded-3xl shadow-xl w-96 text-center border">
        <h2 class="text-2xl font-black mb-6 text-indigo-600 uppercase tracking-tighter">Login Panel</h2>
        <input name="username" placeholder="用户名" class="w-full bg-slate-50 p-4 mb-3 rounded-2xl outline-none" required>
        <input name="password" type="password" placeholder="密码" class="w-full bg-slate-50 p-4 mb-6 rounded-2xl outline-none" required>
        <button class="w-full bg-indigo-600 text-white py-4 rounded-2xl font-bold shadow-lg shadow-indigo-100">登录系统</button>
    </form>
</body>
</html>